<div *ngIf="resourceType && resourceType !== 'Topologies'" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{ getTitleSubject() }} Detail <span *ngIf="hasSelectedResource()" class="pull-right">{{resourceService.getResourceDisplayName(resource)}}</span>
    </h4>
  </div>

  <!-- Provider Configuration Details -->
  <div class="panel-body" *ngIf="hasSelectedResource() && resourceType === 'Provider Configurations'">
    <div *ngIf="referencedProviderConfigError" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="referencedProviderConfigError=false">
        <span aria-hidden="true">&times;</span>
      </button>
      Cannot remove <strong>{{resourceService.getResourceDisplayName(resource)}}</strong> because it is referenced by one or more descriptors
    </div>
    <div style="padding-bottom: 10px">
      <span><strong>Providers</strong></span>
      <span *ngIf="!isAddingProvider"
            class="clickable inline-glyph glyphicon glyphicon-plus-sign btn btn-xs pull-right"
            (click)="isAddingProvider=true"
            data-toggle="tooltip" title="Add Provider"></span>
      <span *ngIf="isAddingProvider" class="inline-editor inlineEditForm pull-right">
        <input type="text" value="name" onClick="this.setSelectionRange(0, this.value.length)" #newProviderName>
        <input type="text" value="role" onClick="this.setSelectionRange(0, this.value.length)" #newProviderRole>
        <button class="btn btn-xs"
                (click)="isAddingProvider=false;
                         addProvider(newProviderName.value, newProviderRole.value)">
          <span class="glyphicon glyphicon-ok "></span>
        </button>
        <button class="btn btn-xs" (click)="isAddingProvider=false">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
    <div class="panel panel-default" *ngFor="let provider of providers">
      <div class="panel-heading">
        <span>&nbsp;</span>
        <span [class]="'clickable inline-glyph glyhpicon glyphicon-' + (isShowProvider(provider) ? 'minus' : 'plus')"
              (click)="toggleShowProvider(provider)"></span>
        <span><strong>{{ provider.name }}</strong></span>
        <span class="clickable inline-glyph glyphicon glyphicon-remove pull-right btn btn-xs"
              [title]="'Remove ' + provider.name"
              (click)="onRemoveProvider(provider.name)"
              data-toggle="tooltip"></span>
      </div>
      <div class="panel-body" *ngIf="isShowProvider(provider)">
        <strong>Role</strong> {{ provider.role }}<br>
        <strong>Enabled</strong>&nbsp;<input type="checkbox"
                                             [checked]="isProviderEnabled(provider)"
                                             (click)="onProviderEnabled(provider)"><br>
        <div>
          <span [class]="'clickable inline-glyph glyhpicon glyphicon-' + (isShowProviderParams(provider) ? 'minus' : 'plus')"
                (click)="toggleShowProviderParams(provider)"></span>
          <span><strong>Params</strong></span>
          <span *ngIf="!isAddingProviderParam(provider)"
                class="clickable inline-glyph glyphicon glyphicon-plus-sign btn btn-xs"
                (click)="setAddingProviderParam(provider,true)"
                data-toggle="tooltip" title="Add Param"></span>
          <span *ngIf="isAddingProviderParam(provider)" class="inline-editor inlineEditForm">
            <input type="text" value="name" onClick="this.setSelectionRange(0, this.value.length)" #newParamName>
            <input type="text" value="value" onClick="this.setSelectionRange(0, this.value.length)" #newParamValue>
            <button class="btn btn-xs"
                    (click)="setAddingProviderParam(provider,false);
                             addProviderParam(provider, newParamName.value, newParamValue.value);
                             showProviderParams(provider)">
              <span class="glyphicon glyphicon-ok "></span>
            </button>
            <button class="btn btn-xs" (click)="setAddingProviderParam(provider,false)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </span>
          <div class="panel panel-default table-responsive" *ngIf="isShowProviderParams(provider)">
            <table class="table table-sm">
              <tr *ngFor="let paramName of getProviderParamNames(provider)">
                <td>
                  <span class="clickable inline-glyph glyphicon glyphicon-remove btn btn-xs"
                        title="Remove Param"
                        (click)="onRemoveProviderParam(provider, paramName)"
                        data-toggle="tooltip"></span>
                </td>
                <td><strong>{{ paramName }}</strong></td>
                <td>
                  <span class="inline-editable"
                        (click)="setProviderParamEditFlag(provider, paramName, true)"
                        *ngIf="!getProviderParamEditFlag(provider, paramName)">{{provider.params[paramName]}}</span>
                  <span *ngIf="getProviderParamEditFlag(provider, paramName)" class="inline-editor inlineEditForm">
                    <input type="text" size="30" [(ngModel)]="provider.params[paramName]">
                    <button class="btn btn-xs"
                            (click)="setProviderParamEditFlag(provider, paramName, false);changedProviders=providers">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-xs" (click)="setProviderParamEditFlag(provider, paramName, false)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </span>
                </td>
              </tr>
            </table>
          </div> <!-- Provider params -->
        </div>
      </div> <!-- Provider Details -->
    </div> <!-- Provider panel -->

            <div class="panel panel-default table-responsive" *ngIf="provider.paramDetails">
              <table class="table table-sm">
                <tr *ngFor="let key of getParamKeys(provider)">
                  <td>
                    <span class="glyphicon glyphicon-remove-sign"></span>
                  </td>
                  <td><b>{{ key }}</b></td>
                  <td>{{ provider.params[key] }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>

  <!-- Descriptor Details -->
  <div class="panel-body" *ngIf="hasSelectedResource() && resourceType === 'Descriptors'">
    <div> <!-- Provider Config reference -->
      <div class="panel panel-default col-md-12">
        <span class="col-md-12 pull-left">
          <span class="col-md-sm"><strong>Provider Configuration</strong>&nbsp;</span>
          <span class="col-md-sm inline-editable" (click)="editModePC=true" *ngIf="!editModePC">{{descriptor.providerConfig}}</span>
          <span class="col-md-sm inline-editor inlineEditForm" *ngIf="editModePC">
            <input type="text" size="40" [(ngModel)]="descriptor.providerConfig">
            <button class="btn btn-xs" (click)="editModePC=false;descriptor.setDirty()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-xs" (click)="editModePC=false">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </span>
        </div>
        <app-provider-config-selector #choosePC></app-provider-config-selector>
      </div>

      <br><br>

      <div class="panel panel-default col-md-12">
        <span [class]="'clickable glyhpicon glyphicon-' + (showServiceDetails ? 'minus' : 'plus')"
              (click)="showServiceDetails = !showServiceDetails"></span>
        <span><b>Services</b></span>
        <span class="glyphicon glyphicon-plus-sign pull-right" data-toggle="tooltip" title="Add Service"></span>
      <div class="col-md-12 table-responsive" *ngIf="showServiceDetails">
        <table class="table table-striped table-sm">
          <tr *ngFor="let service of descriptor.services">
            <td>
              <div>
                <span><b>{{ service.name }}</b></span>
                <span class="glyphicon glyphicon-remove-sign pull-right"  data-toggle="tooltip" [title]="'Remove ' + service.name"></span>
              </div>
              <div>
                <span [class]="'clickable glyhpicon glyphicon-' + (service.showParams ? 'minus' : 'plus')"
                      (click)="service.showParams = !service.showParams"></span>
                <span>Params</span><span>&nbsp;</span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" title="Add param"></span>
                <!--<span class="btn btn-default btn-xs" data-toggle="tooltip" title="Add param">add</span>-->
              </div>
              <div class="table-responsive" *ngIf="service.showParams">
                <table class="table table-sm" *ngIf="descriptor.getServiceParamKeys(service).length > 0">
                  <tr *ngFor="let paramKey of descriptor.getServiceParamKeys(service)">
                    <td width="5%"><span class="glyphicon glyphicon-remove-sign"></span></td>
                    <td width="30%"><b>{{ paramKey }}</b></td>
                    <td width="65%" align="left">{{ descriptor.getServiceParamValue(service, paramKey) }}</td>
                  </tr>
                </table>
              </div>
              <div>
                <span [class]="'clickable glyhpicon glyphicon-' + (service.showUrls ? 'minus' : 'plus')"
                      (click)="service.showUrls = !service.showUrls"></span>
                <span>URLs</span><span>&nbsp;</span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" title="Add URL"></span>
              </div>
              <div class="table-responsive" *ngIf="service.showUrls">
                <table class="table table-sm" *ngIf="service.urls && service.urls.length > 0">
                  <tr *ngFor="let url of service.urls">
                    <td width="5%"><span class="glyphicon glyphicon-remove-sign"></span></td>
                    <td width="95%">{{ url }}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
      <br><br>
      <div class="panel panel-default col-md-12">
        <span [class]="'clickable glyhpicon glyphicon-' + (showDiscDetails ? 'minus' : 'plus')"
              (click)="showDiscDetails = !showDiscDetails"></span>
        <span><b>Discovery Details</b></span>
        <div class="col-md-12" *ngIf="showDiscDetails">
          <table class="table table-sm">
            <tr><td>Discovery Address</td><td>{{ descriptor.discoveryAddress }}</td></tr>
            <tr><td>Discovery User</td><td>{{ descriptor.discoveryUser }}</td></tr>
            <tr><td>Discovery Password Alias</td><td>{{ descriptor.discoveryPassAlias }}</td></tr>
            <tr><td>Discovery Cluster</td><td>{{ descriptor.discoveryCluster }}</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Topology Details -->
<div *ngIf="resourceType === 'Topologies'">
  <topology-detail></topology-detail>
</div>
